Repository ReqArchitect/ReqFastApi: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-validate, check-requirements

docker-compose-validate:
  name: Validate docker-compose.yml
  entry: docker-compose
  args:
  - config
  - --quiet
  language: system

check-requirements:
  name: Check requirements.txt consistency
  entry: python
  args:
  - -c
  - import pkg_resources; pkg_resources.check_requirements(open('requirements.txt').readlines())
  language: system
  pass_filenames: false

migration scripts
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  fix_dependencies.py
  generate_env_files.py
  postgres-init/create-missing-dbs.sql
  services/ai_modeling_service/.env
  services/ai_modeling_service/requirements.txt
  services/audit_log_service/.env
  services/audit_log_service/requirements.txt
  services/auth_service/.env
  services/billing_service/.env
  services/billing_service/requirements.txt
  services/invoice_service/.env
  services/invoice_service/requirements.txt
  services/notification_service/.env
  services/notification_service/requirements.txt
  services/usage_service/.env
  services/usage_service/requirements.txt
Due: check-requirements

update
  services/applicationservice_service/API_REFERENCE.md
  services/applicationservice_service/Dockerfile
  services/applicationservice_service/README.md
  services/applicationservice_service/app/__init__.py
  services/applicationservice_service/app/config.py
  services/applicationservice_service/app/database.py
  services/applicationservice_service/app/deps.py
  services/applicationservice_service/app/main.py
  services/applicationservice_service/app/models.py
  services/applicationservice_service/app/routes.py
  services/applicationservice_service/app/schemas.py
  services/applicationservice_service/app/services.py
  services/applicationservice_service/requirements.txt
  services/applicationservice_service/tests/test_applicationservice.py
  services/courseofaction_service/API_REFERENCE.md
  services/courseofaction_service/ARCHITECTURE.md
  services/courseofaction_service/COURSEOFACTION_SERVICE_IMPLEMENTATION_SUMMARY.md
  services/node_service/API_REFERENCE.md
  services/node_service/Dockerfile
  services/node_service/README.md
  services/node_service/app/__init__.py
  services/node_service/app/config.py
  services/node_service/app/database.py
  services/node_service/app/deps.py
  services/node_service/app/main.py
  services/node_service/app/models.py
  services/node_service/app/routes.py
  services/node_service/app/schemas.py
  services/node_service/app/services.py
  services/node_service/requirements.txt
  services/node_service/tests/test_node.py
  services/systemsoftware_service/Dockerfile
  services/systemsoftware_service/app/__init__.py
  services/systemsoftware_service/app/database.py
  services/systemsoftware_service/app/models.py
  services/systemsoftware_service/app/schemas.py
  services/systemsoftware_service/requirements.txt
Due: check-requirements

update
  services/artifact_service/Dockerfile
  services/artifact_service/app/__init__.py
  services/artifact_service/app/database.py
  services/artifact_service/app/models.py
  services/artifact_service/app/schemas.py
  services/artifact_service/requirements.txt
  services/systemsoftware_service/API_REFERENCE.md
  services/systemsoftware_service/README.md
  services/systemsoftware_service/app/config.py
  services/systemsoftware_service/app/deps.py
  services/systemsoftware_service/app/main.py
  services/systemsoftware_service/app/routes.py
  services/systemsoftware_service/app/services.py
  services/systemsoftware_service/tests/test_systemsoftware.py
Due: check-requirements

update
  services/api_debug_service/IMPLEMENTATION_SUMMARY.md
  services/api_debug_service/tests/__init__.py
  services/api_debug_service/tests/test_api_debug.py
Due: none

update
  archimate_service_test.ps1
  archimate_test_results.csv
  comprehensive_test_report.ps1
  create_test_jwt.py
  docker-compose.yml
  final_test_summary.md
  gateway_test.ps1
  scripts/generate_jwt_token.py
  service_test_results.csv
  services/api_debug_service/ARCHITECTURE.md
  services/api_debug_service/Dockerfile
  services/api_debug_service/SERVICE_DISCOVERY_FIX_LOG.md
  services/api_debug_service/app/docker_service.py
  services/api_debug_service/app/enhanced_docker_service.py
  services/api_debug_service/app/enhanced_endpoint_discovery.py
  services/api_debug_service/app/enhanced_main.py
  services/api_debug_service/app/enhanced_models.py
  services/api_debug_service/app/main.py
  services/api_debug_service/app/service_catalog.json
  services/api_debug_service/app/service_catalog.py
  services/auth_service/app/main.py
  services/auth_service/app/requirements.txt
  services/auth_service/requirements.txt
  services/gateway_service/Dockerfile
  services/gateway_service/app/main.py
  services/gateway_service/app/middleware.py
  services/gateway_service/app/service_catalog.json
  services/gateway_service/requirements.txt
  services/monitoring_dashboard_service/app/main.py
  services/monitoring_dashboard_service/app/static/enhanced-dashboard.js
  services/monitoring_dashboard_service/app/templates/dashboard.html
  simple_gateway_test.ps1
  simple_service_test.ps1
  test_archimate_services.ps1
  test_archimate_simple.ps1
  test_running_services.ps1
Due: docker-compose-validate, check-requirements

update
  services/api_debug_service/Dockerfile
  services/product_discovery_service/api.py
  services/product_discovery_service/eventing.py
  services/product_discovery_service/requirements.txt
  services/product_discovery_service/schemas.py
  services/product_discovery_service/test_api.py
Due: check-requirements

update
  pyproject.toml
  services/__init__.py
  services/__pycache__/__init__.cpython-313.pyc
  services/product_discovery_service/__init__.py
  services/product_discovery_service/__pycache__/__init__.cpython-313.pyc
  services/product_discovery_service/__pycache__/api.cpython-313.pyc
  services/product_discovery_service/__pycache__/eventing.cpython-313.pyc
  services/product_discovery_service/__pycache__/schemas.cpython-313.pyc
  services/product_discovery_service/__pycache__/test_api.cpython-313-pytest-8.4.1.pyc
  services/product_discovery_service/api.py
  services/product_discovery_service/schemas.py
  services/product_discovery_service/test_api.py
Due: none

update
  curl
  services/product_discovery_service/__pycache__/api.cpython-313.pyc
  services/product_discovery_service/__pycache__/schemas.cpython-313.pyc
  services/product_discovery_service/api.py
  services/product_discovery_service/schemas.py
Due: none

update
  services/product_discovery_service/api.py
Due: none

Path conditions:
  docker-compose-validate: any of: docker-compose.yml
  check-requirements: any of: requirements.txt
